        <!--Product Image-->
        <!--Product Image click collapse the image
      ng-click='clickedMe(shop.id)'-->
        <div class="product-grid__item   grid__item one-half large--one-third"  ng-repeat='shop in shopListing'>

            <!--Repeat over your data and display it below -->
            <!--Product Image-->
            <!--Product Image click collapse the image-->
            <a class="product-grid__product" ng-click="changer(shop)" >
                <img src="{{shop.image}}" class="product-grid__img"   ng-hide = 'ngClick'sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" alt="">
            </a>
            <a class="product-grid__product"  ng-click="changer()" ng-show='ngClick'>
                show image
            </a>

            <!--Product Meta-->
            <div class="product-grid__meta">
                <!--Title click Should redirect to the product-details section. remember to pass along the product id so you can make an api call
            to get the specific product details-->
                <h3 class="product-grid__name"><a ng-click = 'clickedMe(shop)'>{{shop.title}}</a></h3>

                <!--Product Description-->
                <h4 class="product-grid__sub">{{shop.desc}}</h4>

                <!--Product Price-->
                <div class="product-grid__price">{{shop.price}}</div>
            </div>

        </div>
